<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="PTS_Auth0" setup_version="0.0.1">
        <sequence>
            <module name="Magento_Customer" />
            <module name="PTS_ShopfrontApi" />
            <module name="PTS_Microstores" />
        </sequence>
    </module>
</config>